{% extends "base.html" %}

{% block content %}

<div class="content-box">
  <h1>SentinelOne Query Navigator</h1>
  <hr/>
  <p>SentinelOne Query Navigator is a simple web application for loading and presenting the yaml 
    query signatures from the <a href="https://github.com/keyboardcrunch/sentinelone-queries/" rel="noopener noreferrer" target="_blank">SentinelOne Queries</a> 
    repository for quick browsing and single-click hunting within your own SentinelOne console (without the need to save the queries).
  </p>
</div>

{% endblock %}