{% extends "base.html" %}

{% block content %}

<div class="content-box">
  <h1>SentinelOne Query Navigator</h1>
  <hr/>
  <p>
    SentinelOne Query Navigator is a simple web application for loading and presenting the yaml 
    query files from the <a href="https://github.com/keyboardcrunch/sentinelone-queries/" rel="noopener noreferrer" target="_blank">SentinelOne Queries</a> 
    repository, with a focus on providing a catalog of queries that can be immediately put to use.
  </p>
  <h3>Goals & Use-case</h3>
  <p>
    The primary goal of this project is to provide a solution for storage, sharing, documentation, and usage of SentinelOne Deep Visibility queries. The 
    secondary goals are to lower the bar for getting started with queries and threat hunting within the SentinelOne console, providing a browseable catalog
    with one-click threat hunting.
  </p>
  <p>
    With most queries mapped to their Mitre ATTACK tactics and techniques, or documented to detected specific scenarios, most of the queries could be immediately
    tested and tweaked so that they could be saved as subscribed queries; giving you better monitoring. But where this project shines is those queries you only
    run adhoc and don't wish to clutter your console by saving them, the times you want to hunt for specific tactics, or just want to validate threat activity.
  </p>
  <h3>Contributing</h3>
  <p>
    Community contributions are welcome and invited. The repository of <a href="https://github.com/keyboardcrunch/sentinelone-queries/" rel="noopener noreferrer" target="_blank">queries</a> 
    could use further validation and coverage, especially with SentinelOne releasing changes so frequently. If you're good with web development or 
    Flask applications, <a href="https://github.com/keyboardcrunch/SentinelOne-Query-Navigator" rel="noopener noreferrer" target="_blank">this app</a> could also use some love.
  </p>
</div>

{% endblock %}