{% extends "base2.html" %}

{% block content %}

  <h1 class="subtitle">{{title}}</h1>

  {% if queries %}
    <ul>
      {% for query in queries %}
      <li><a href="../query/{{query.id}}">{{query.title}}</a></li>
      {% endfor %}
    </ul>
    
    <div class="paginator">
      {% if prev_url %}
      <a href="{{ prev_url }}">Previous Page</a>
      &nbsp; | &nbsp;
      {% endif %}
      {% if next_url %}
      <a href="{{ next_url }}">Next Page</a>
      {% endif %}
    </div>
  {% else %}
    <p>No Results</p>
  {% endif %}
{% endblock %}